@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@font-face{ 
	font-family: 'japanese_touristregular';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}

/* font-family: 'Indie Flower', cursive; */

:root{
    --rojo: #bb0909; 
}

* {
    margin: 0%;
    padding: 0;
}
body{
    margin: 0;
    
}

header{
    background: url("../assets/fondo_header.jpg");
    background-repeat: space;
    background-size: cover;
    height: 150px;
    display: flex;
    padding: 20px;
    font-family: 'japanese_touristregular', cursive;
    font-size: 1.8em;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo a{
    width: 150px;
}

header img{
    margin-left: 3em;
    height: 100px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar ul{
    font-family: 'Indie Flower', cursive;
    font-size: .6em;
    font-weight: 600;
    list-style: none;
    display: flex;
}
.navbar ul li{
    margin: 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover{
    color: var(--rojo);
}